.carousel {
    position: relative;
    width: 60%;
    height: 380px;
    margin: 0 auto;
    img {
        width: 100%;
    }

    &__track-container {
        position: relative;
        background: lightgreen;
        height: 100%;
        overflow: hidden;
    }

    &__track {
        padding: 0;
        margin: 0;
        list-style-type: none;
        position: relative;
        transition: transform 250ms ease-in;
    }
    &__slide {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
    }

    &__button {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        z-index: 99;
        background-color: royalblue;
        border: none;
        cursor: pointer;
        &:focus {
            outline: none;
        }
    }

    .left {
        left: 0;
    }

    .right {
        right: 0;
        left: auto;
    }

    &__nav {
        text-align: center;
        background-color: lightpink;
    }

    &__indicator {
        width: 14px;
        height: 14px;
        border-radius: 10px;
        background-color: lightseagreen;
        border: none;
        cursor: pointer;
        &:focus {
            outline: none;
        }
    }

    .current_slide {
        background-color: royalblue;
    }
}

.is-hidden {
    display: none;
}